.table__container-content{
    display: flex;
    flex-wrap: wrap;
  justify-content:space-between ;
    align-items: center;
margin-left: 200px;

}

.table__container{
    display: grid;
  justify-content: center;
    align-items: center;
}
.standings__container-content{
  display: grid;
  justify-content: center;
    align-items: center;
}
table { border: 1px solid black;
    border-spacing: 10px;
  }
  td {
word-spacing: 30px;
  }



